@import '../../../assets/styles/variables';

.icon-container {
    position: fixed;
    top: 5.5rem;
    right: 5.5rem;
    z-index: 100;
}

.navigation {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient($color-secondary-light, $color-secondary-dark);
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
    cursor: pointer;
    margin-bottom: 2rem;
}

.home-icon {
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
}

.back-icon {
    width: 4rem;
    height: 4rem;
    position: relative;
    top: 1rem;
    left: 1rem;
}
