<div class="card" 
    style="--light-hex:{{colorScheme.lightHex}};
            --light-rgb: {{colorScheme.lightRgb}};
            --dark-hex: {{colorScheme.darkHex}};
            --dark-rgb: {{colorScheme.darkRgb}}">
    <div class="card-side card-side-front">
        <div class="card-picture">
            &nbsp;
        </div>
        <h4 class="card-heading">
            <span class="card-heading-span">
                {{ book.title }}
            </span>
        </h4>
        <div class="card-details">
            <ul>
                <li>{{ book.author.name }}</li>
                <li>Price: {{ book.price | currency: 'USD' }}</li>
                <li>Year: {{ book.year }}</li>
                <li>Rating: {{ book.rating }}</li>
            </ul>
        </div>
    </div>
    <div class="card-side card-side-back">
        <a routerLink="/book/{{book.id}}" class="btn btn-white card-details-btn">View Details</a>
    </div>
</div>