.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 45rem;

    &-side {
        font-size: 2rem;
        height: 45rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(#000000,.15);
        &-front{
            background-color: #ffffff;
        }

        &-back{
            background-image: linear-gradient(to right bottom, var(--light-hex), var(--dark-hex));
            transform: rotateY(180deg);
        }
    }

    &:hover &-side-front {
        transform: rotateY(-180deg);
    }
    &:hover &-side-back {
        transform: rotateY(0);
    }

    &-picture{
        background-image: linear-gradient(to right bottom, var(--light-hex), var(--dark-hex)), url(../../../assets/images/nat-5.jpg);
        background-blend-mode: screen;
        background-size: cover;
        height: 23rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &-heading {
        color: #ffffff;
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }
    &-heading-span {
        background-image: linear-gradient(to right bottom, rgba(var(--light-rgb), .85), rgba(var(--dark-rgb), .85));
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

    &-details {
        padding-top: 1rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }

    &-details-btn {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}