<div class="card">
    <div class="card-side card-side-front">
        <div class="card-picture" [ngClass] = "{
            'card-picture-primary': colorScheme == 'primary',
            'card-picture-secondary': colorScheme == 'secondary',
            'card-picture-tertiary': colorScheme == 'tertiary'}" style="--img:url({{book.url}})">
            &nbsp;
        </div>
        <h4 class="card-heading">
            <span class="card-heading-span" [ngClass] = "{
                'card-heading-span-primary': colorScheme == 'primary',
                'card-heading-span-secondary': colorScheme == 'secondary',
                'card-heading-span-tertiary': colorScheme == 'tertiary'}">
                {{ book.title }}
            </span>
        </h4>
        <div class="card-details">
            <ul>
                <li>{{ book.author.name }}</li>
                <li>Price: {{ book.price | currency: 'USD' }}</li>
                <li>Year: {{ book.year }}</li>
                <li>Rating: {{ book.rating }}</li>
            </ul>
        </div>
    </div>
    <div class="card-side card-side-back" [ngClass] = "{
        'card-side-back-primary': colorScheme == 'primary',
        'card-side-back-secondary': colorScheme == 'secondary',
        'card-side-back-tertiary': colorScheme == 'tertiary'}">
        <a routerLink="/book/{{book.id}}" class="btn btn-white card-details-btn">View Details</a>
    </div>
</div>