@import '../../../assets/styles/variables';

.toastr {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 1000;

    &-container {
        padding: 1rem;
        color: $color-white;
        border-radius: 3px;
        margin-bottom: 1rem;
        animation: toastr var(--timeout) 1 ease-out;
    }

    &-success {
        background-image: linear-gradient(to right, $color-secondary-dark, $color-secondary-light);
    }

    &-error {
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
    }

    &-info {
        background-image: linear-gradient(to right, $color-tertiary-dark, $color-tertiary-light);
    }

    &-text {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.close-btn {
    margin-left: 1rem;
    color: $color-white;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 900;
    &:hover {
        color: $color-black;
    }
}

@keyframes toastr {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}