$default-font-size: 1.6rem;
$color-grey-dark: #777;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

:root {
    --card-light-hex: #ffb900;
    --card-light-rgb: 255,185,0;
    --card-dark-hex: #ff7730;
    --card-dark-rgb: 255,119,48;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;
    // padding: 3rem;
    height: 100%;
    overflow: auto;
}

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(#000000, .2);
    }
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(#000000, .2);
    }
    &-white {
        background-color: #ffffff;
        color: #777;
        &::after {
            background-color: #ffffff;
        }
    }
}

.row {
    max-width: 114rem;
    margin: 0 auto;
    &::after {
        content: "";
        display: table;
        clear: both; 
    }

}

.row [class^="col-"] {
    float: left;
    &:not(:last-child) {
        margin-right: 6rem;
    }
}
.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
    // width: calc(100% / 3); 
    width: calc((100% - (6rem*2)) / 3);
}
.row .col-2-of-3 {
    // width: calc(100% - (100% / 3)); 
    width: calc(100% - 6rem - ((100% - (6rem*2)) / 3));
}
@media (max-width: 600px) {
    html {
        font-size: 32%;
    }
    .row {
        max-width: 40rem;
    }
    .row [class^="col-"] {
        width: 100%;
        margin-bottom: 4rem;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 32%;
    }
}
