@import '../../../assets/styles/variables';

.heading {
    text-align: center;
    margin-bottom: 4rem;
    &-text {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all .2s;
        &:hover {
            transform: scale(1.2);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }       
    }
}