$color-white: #ffffff;
$color-black: #000000;
$color-grey-1: #eeeeee;
$color-grey-2: #777777;

$color-primary-light: #ffb900;
$color-primary-dark: #ff7730;

$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;