.spinner {
    background-color: transparent;
    width: 100%;
    height: 3rem;
    position: relative;
    &-containers {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-dot {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: #777;
        margin: 0 1rem;
        animation: dots 1s infinite ease-in-out;
        &:nth-child(1) {
            animation-delay: 0.2s;
        }
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}

@keyframes dots {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}