<app-menu items="['home', 'back']" (clicked) = "menuClickEvent($event)"></app-menu>
<section class="book-details">
    <div class="background">
        <div *ngIf="bookDetails" class="row book-details-wrapper">
            <div class="col-1-of-3 book-details-image" style="--img: url({{bookDetails.url}})">
                <h4 class="card-heading">
                    <span class="card-heading-span">
                        {{ bookDetails.author.name }}
                    </span>
                </h4>
            </div>
            <div class="col-2-of-3 book-details-text">
                <div class="book-details-primary">
                    <app-heading [headingText] = "bookDetails.title"></app-heading>
                </div>
                <div class="row book-details-secondary">
                    <div class="book-details-description"><p>{{ bookDetails.description }}</p></div>
                    <div class="book-details-info">
                        <ul>
                            <li>Price: {{ bookDetails.price | currency: 'USD' }}</li>
                            <li>Year: {{ bookDetails.year }}</li>
                            <li>
                                <div class="stars" style="--rating: {{ bookDetails.rating }};" aria-label="Rating of this product is 2.3 out of 5."></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row book-list-wrapper">
            <app-book-list *ngIf="bookDetails" [searchRequest]="searchRequest" [options]="options"></app-book-list>
        </div>
    </div>
</section>