<app-menu items="['home', 'back']" (clicked) = "menuClickEvent($event)"></app-menu>
<section class="book-details">
    <div class="background">
        <div *ngIf="bookDetails" class="row book-details-row">
            <div class="col-1-of-3">
                <div class="book-details-image"></div>
            </div>
            <div class="col-2-of-3 book-details-text">
                <app-heading [headingText] = "bookDetails.title"></app-heading>
                <div class="book-details-author"><span>{{ bookDetails.author.name }}</span></div>
                <div class="row book-details-secondary">
                    <div class="col-1-of-2">
                        <div class="book-details-section book-details-description">{{ bookDetails.description }}</div>
                    </div>
                    <div class="col-1-of-2">
                        <div class="book-details-section book-details-info">
                            <ul>
                                <li>Price: {{ bookDetails.price | currency: 'USD' }}</li>
                                <li>Year: {{ bookDetails.year }}</li>
                                <li>Rating: {{ bookDetails.rating }}</li>
                            </ul>
                        </div>        
                    </div>
                </div>                
            </div>
        </div>
        <div class="row" style="margin-top: 2rem">
            <app-book-list *ngIf="bookDetails" [searchRequest]="searchRequest" [options]="options"></app-book-list>
        </div>
    </div>
</section>